@model IEnumerable<CompanyJLSframeMVC.Models.Formadepago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numerodepago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efectivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Númerodetarjeta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numerodepago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Efectivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Númerodetarjeta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
