@model IEnumerable<CompanyJLSframeMVC.Models.Bodega>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechadevencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombreproveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefonoproveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidadeninventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fechadevencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombreproveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefonoproveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidadeninventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
